.DS_Store
secrets
bash/.profile
gdb/**/.gdb_history
gdb/**/build
alacritty/.config/alacritty/alacritty.local.toml
neovim/.config/nvim/lazy-lock.json
doc/**
pass/.password-store/.gpg-id
pass/.password-store/tmp.gpg
/.llm/reference
/dottpl/node_modules
