emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/elpa/
emacs/.emacs.d/config.el
emacs/.emacs.d/url
.config/chromium
.config/Code - OSS/
.config/dconf
.config/discord
.config/obs-studio
.config/pavucontrol.ini
.config/Postman
.config/pulse
.config/aseprite
.config/UnityHub
.config/unity3d
.config/mimeapps.list
